:root {
    --primary-color: #b90000;
    --secondary-color: #333;
    --background-color: #f4f4f4;
    --text-color: #fff;
    --card-background: #ff3333;
    --card-border: #ddd;
    --shadow-color: rgba(0, 0, 0, 0.1);
}

body {
    font-family: "Monserrat", Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    color: var(--text-color);
}

header {
    background: var(--secondary-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

header img {
    width: 50px;
}

header h1 {
    margin: 0;
}

.search-box {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 10px;
    transition: border 0.3s ease-in-out;
}

.search-box:focus {
    border-color: var(--primary-color);
}

footer {
    background: var(--secondary-color);
    color: var(--text-color);
    text-align: center;
    padding: 20px 0;
    position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

.footer-content p {
    margin: 5px 0;
}

.footer-content img {
    vertical-align: middle;
    margin-right: 5px;
}

.footer-content a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.footer-content a:hover {
    color: #ffcc00;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    gap: 10px;
    padding: 20px;
}

.team-card {
    background: var(--card-background);
    border: 1px solid var(--card-border);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 0 10px var(--shadow-color);
    transition: transform 0.2s;
}

.team-card a {
    color: var(--text-color);
    text-decoration: none;
}

.team-card:hover {
    transform: scale(1.05);
}

.team-card img {
    max-width: 200px;
    margin-bottom: 1px;
}

.team-card p {
    margin: 0;
    color: var(--text-color);
}
.form-container {
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}
.form-container h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}
.form-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}
.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.form-container select{
margin-bottom: 15px;
}

.form-container button {
    width: 100%;
    padding: 12px;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.form-container button:hover {
    background-color: #218838;
}
.back-button {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    background: var(--secondary-color);
    color: var(--text-color);
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
    max-width: 200px;
}

.back-button:hover {
    background: var(--hover-color);
}
 .soloeste {
    display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.hincha {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}
.hincha label {
    width: 100px;
}
.hincha input {
    margin-left: 20px;
}

@media (max-width: 768px) { 
    .container {
      grid-template-columns: 1fr;
    }
    .tituloPrincipal{
        font-size: 1.3rem;
    }
  }

